
.login__page-background{
    background-color: rgb(20, 192, 20);
    padding: 15px;
}
.login__form-para{
    font-size: 12px;
    bottom: 5px;
    text-align: center;
    padding: 5px;
    color: white;
}
.form-control:focus {
    box-shadow: none !important;
}

.login__page {
    background-color:white;
    padding: 15px;
    margin: 10px;
    height: 250px;
}
input {
    text-align: center;
}

.login__btn {
    text-align: center;
    margin-top: 20px;
    /* display: block;
    width: 100%; */
}